<!DOCTYPE html>
<html>
<head>
<-- include D3 lib -->
<script src="http://d3js.org/d3.v3.min.js"></script>

<title> D3 Sandbox </title>
</head>
<body>

<h1> D3 Sandbox - Testing grounds </h1>

<p> This is a sample webpage used as portal for some D3 testing projects.
Feel free to navigate through the pages. <a href="index.html">Go to home page
</a></p>
<hr>


<-- Destination for generating D3 graph -->
<div id="graph"></div>
<script type="text/javascript">
  /* Javscript code */
</script>

</body>
</html>
